$bgColor: #f4f8fb;
$baseColor: #fff;
$baseColor2: #333;
$baseColor3: #f5f5f5;
$shoadowColor: #0000001a;
$primary-foreground-color: #4a4a4a;
$secondary-foreground-color: #000;
$primary-subtle-color: #04aeee;
$secondary-subtle-color: #f4f8fd;
$titles-color: #333;
$link-color: #293951;
$primary-border-color: #9b9b9b;
$secondary-border-color: #f0f8ff;
$article-shadow-normal: 0 10px 10px rgba(0, 0, 0, 0.08);
$article-shadow-hover: 0 4px 60px 0 rgba(0, 0, 0, 0.2);
$transparent-background-color: hsla(0, 0%, 100%, 0.99);
$footer-background-color: #293951;
$submenu-shadow-color-opacity: 0.25;
$button-shadow-color-normal: hsla(0, 0%, 42.4%, 0.2);
$button-shadow-color-hover: hsla(0, 0%, 42.4%, 0.3);
$toggle-darkmode-button-color: #fff;
$table-background-color-odd: #fafafa;
$table-head-border-bottom: #e2e2e2;

$quick-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
$content-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06), 1px 3px 8px rgba(39, 44, 49, 0.03);
